body {
    display: flex;
    justify-content: center;
}

.container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width:250px;
    height: 400px;
}

.container2 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width:250px;
    height:250px;
    border-style: solid;
    border-radius: 10px;
    background-color: rgb(63, 61, 61);
}

.screen {
    display: flex;
    border-style: solid;
    min-height: 40px;
    justify-content: center;
    align-items: center;
    margin: 5%;
    border-radius: 10px;
    background-color: rgb(202, 202, 202);
}

output {
    display: flex;
    min-height: 40px;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    min-height: 25px;
    width: 200px; 
}

.button {
    box-sizing: border-box;
    width: 23%;
    height:30px;
    margin: 2px;
    justify-items: center;
}

.resultbutton {
    box-sizing: border-box;
    width: 23%;
    height:30px;
    margin: 2px;
}

.backspace {
    box-sizing: border-box;
    width: 23%;
    height:30px;
    margin: 2px;
}

.resetbutton {
    box-sizing: border-box;
    width: 23%;
    height:30px;
    margin: 2px;   
}

#dot {
    font-weight: 900;
    box-sizing: border-box;
    width: 23%;
    height:30px;
    margin: 2px;
}

.row {
    display: flex;
    justify-content: center;
}

